* {
  padding: 0;
  margin: 0;
}

/*-----------------------------------------------GLOBALE VARIABLER--------------------------------------------------------*/

h1 {
  color: white;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  font-size: 3rem;
}

.øl_headline {
  color: rgb(230, 163, 20);
  font-size: 7rem;
}
h1 span {
  color: white;
}

h2 {
  color: rgb(182, 133, 27);
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
}

p {
  font-style: italic;
  color: white;
  font-family: "Opens Sans", sans-serif;
}

h3 {
  font-family: "Work Sans", sans-serif;
  font-weight: 450;
  color: white;
}

.selected {
  color: #e2a326;
}

.button {
  margin-top: 2rem;
  border: solid 2px rgb(182, 133, 27);
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-right: 3rem;
  padding-left: 3rem;
  margin-top: 3rem;
  margin-right: 0.5rem;
}

.headline p {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  max-width: 60ch;
}

.headline a {
  font-family: "Work Sans", sans-serif;
  font-weight: 450;
  color: white;
}
/*------------------------------------------------------------------------------------*/

.background_image_container {
  overflow-x: hidden;
  background-color: black;
  background-image: url("billeder/splash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50%;
}
.headline {
  padding-top: 40vw;
  padding-bottom: 70vw;
  padding-left: 3vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

@media (min-width: 768px) {
}

/*-----------------------------------------------FORSIDE--------------------------------------------------------*/

nav img {
  width: 30%;
  height: 100%;
  padding-left: 20px;
  z-index: 1;
}

nav {
  color: white;
  overflow-x: hidden;
  display: flex;
  padding-right: 2vw;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  padding-bottom: 15px;
  z-index: 2;
  font-family: "Work Sans", sans-serif;
  position: fixed;
  background: rgb(5, 5, 5);
}

#menu a:hover {
  color: rgb(182, 133, 27);
  text-decoration: underline;
}

a:visited {
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

/*---------------------------------------------------BURGER MENU---------------------------------------------------------*/

.hidden {
  overflow: hidden;
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
}

#menuknap {
  color: white;
  font-size: 2.5rem;
  cursor: pointer;
  display: inline-block;
  z-index: 5;
  padding-right: 20px;
}

@media (max-width: 699px) {
  #menu {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(5, 5, 5);
    list-style-type: none;
    transition-duration: 0.7s;
    transform-origin: top left;

    text-align: center;
    font-size: 3rem;
    padding-top: 30vw;
    line-height: 2;
  }

  .hidden {
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
  }
}

/*--------------------------------------------------------DESKTOP MENU-------------------------------------------------*/

@media (min-width: 700px) {
  #menuknap {
    display: none;
  }

  nav img {
    width: 30%;
    height: 100%;
    padding-left: 20px;
    z-index: 1;
  }

  #menu.hidden {
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
  }

  #menu li {
    display: inline-block;
    padding-right: 1rem;
  }

  nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  #menu {
    color: white;
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
    padding-right: 2rem;
    z-index: 2;
  }

  /*-----------------------------------------------------------FORSIDE OVERSKRIFTER---------------------------------------*/

  .headline h1 {
    font-size: 5rem;
    color: rgb(182, 133, 27);
    font-family: "Work Sans", sans-serif;
    top: 7rem;
    left: 0.4rem;
    text-shadow: black 3px 3px 3px;
  }
}
.headline p {
  font-style: italic;
  font-size: 1rem;
  color: white;
  font-family: "Opens Sans", sans-serif;
  line-height: 1.6rem;
}

.headline a:hover {
  color: rgb(182, 133, 27);
  text-decoration: underline;
}

@media (min-width: 600px) {
  .headline {
    left: 10vw;
    top: 5vw;
  }
}

/*-----------------------------------------------------------Klubben---------------------------------------*/

#om_os h2 {
  font-size: 4rem;
  color: rgb(255, 255, 255);
  font-family: "Work Sans", sans-serif;
  text-shadow: black 3px 3px 3px;
}

#om_os h2 span {
  color: rgb(182, 133, 27);
}

#om_os p {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  font-weight: normal;
  font-style: normal;
  font-size: 1.2rem;
  color: white;
  font-family: "Opens Sans", sans-serif;
  line-height: 1.8rem;
}

#om_os img {
  width: 76%;
  height: auto;
  border-radius: 2%;
}

#om_os {
  margin: 0 auto;
  padding: 10vw;
}

@media (min-width: 700px) {
  #om_os {
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }

  #om_os h2 {
    font-size: 5rem;
  }

  .headline_klubben {
    grid-column: 1;
  }

  .klubben_img {
    grid-column: 2;
  }

  .headline_klubben_2 {
    grid-column: 1 / span 3;
    padding-top: 30px;
  }
}

/*-----------------------------------------------------------EVENTS---------------------------------------*/
.headline_events h2 {
  font-size: 5rem;
  color: rgb(182, 133, 27);
}

.headline_events p {
  font-size: 1.5rem;
  color: white;
  font-family: "Open Sans", sans-serif;
  padding-top: 5vw;
}

.headline_events {
  padding-top: 20vw;
  padding-bottom: 10vw;
}

#main_events {
  padding-top: 0;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-bottom: 20vw;
}

#events img {
  width: 100%;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

.event {
  background-color: #0000005e;
  margin-bottom: 5vw;
  padding-bottom: 10vw;
}

.event h3 {
  font-size: 2rem;
  padding-bottom: 1vw;
  text-align: center;
}

.event .dato {
  text-align: center;
}

.event .beskrivelse {
  /* border-bottom: 1px solid white; */
  padding-top: 2vw;
  padding-bottom: 5vw;
}

@media (min-width: 768px) {
  #main_events {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 8vw;
  }
  .headline_events {
    padding-top: 10vw;
    padding-bottom: 5vw;
  }

  .headline_events p {
    padding-top: 0vw;
  }

  #events img {
    width: 100%;
    padding-top: 0vw;
    padding-bottom: 0vw;
  }

  .event {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin-bottom: 2vw;
    gap: 2vw;
    padding: 2vw;
  }

  .event img {
    grid-column: 1/3;
    grid-row: 1/5;
  }

  .event h3 {
    grid-column: 3/5;
    grid-row: 1/2;
    font-size: 3rem;
    padding-bottom: 0vw;
    text-align: left;
  }
  .event .beskrivelse {
    grid-column: 3/5;
    grid-row: 2/4;
    border-bottom: 0px;
    border-right: 1px solid white;
    padding-top: 0vw;
    padding-bottom: 0vw;
    padding-right: 1vw;
    align-self: center;
  }
  .event .dato {
    grid-column: 5/6;
    grid-row: 2/4;
    align-self: center;
    text-align: left;
  }
}

/* -----------------------------------------------------------FOOTER------------------------------------------------------- */

footer {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 2vw;
  padding-bottom: 2vw;
  margin: 0 auto;
  padding-left: 7vw;
  font-size: 1rem;
  font-family: "Work Sans", sans-serif;
  color: white;
  background-color: rgb(22, 20, 20);
}

footer a {
  color: rgb(182, 133, 27);
}

footer a:visited {
  color: rgb(182, 133, 27);
}

footer img {
  width: 70%;
}

.insta {
  width: 4vw;
  height: 4vw;
}

.footer_logo {
  width: 20vw;
}

.second_section {
  position: relative;
}

.first_Section {
  position: relative;
  padding-left: 12vw;
}

@media (max-width: 600px) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 0.8rem;
  }

  .first_section {
    grid-column: 1;
    grid-row: 1;
    padding-bottom: 3vw;
  }

  .fourth_section {
    grid-column: 2;
    grid-row: 1;
    padding-bottom: 3vw;
  }

  .second_section {
    position: relative;
    grid-column: 1;
    grid-row: 2;
  }

  .third_section {
    grid-column: 2;
    grid-row: 2;
  }

  footer img {
    width: 100%;
  }
}

@media (max-width: 400px) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 0.8rem;
  }

  ul {
    position: relative;
    font-size: 0.5rem;
    gap: 20px;
    padding: 1vw;
    font-size: 0.8rem;
  }

  .fisk {
    padding-right: 3vw;
  }

  .first_section {
    grid-column: 1;
    grid-row: 1;
    position: relative;
    left: -8vw;
  }

  .fourth_section {
    grid-column: 2;
    grid-row: 1;
    position: relative;
    left: -6vw;
  }

  .second_section {
    position: relative;
    left: -10vw;
    grid-column: 1;
    grid-row: 2;
  }

  .third_section {
    grid-column: 2;
    grid-row: 2;
    position: relative;
    left: -6vw;
  }
}
/* -----------------------------------------------------------OVERSIGT------------------------------------------------------- */
.sidebar {
  display: flex;
}
#info {
  margin-bottom: 30px;
}

#info img {
  width: 30vw;
  height: auto;
}

#info h3 {
}

.produktInfo,
.popInfo {
  display: none;
}

.produktContainer {
  position: relative;
  text-align: center;
  padding: 20px;
}

.headline_bajer {
  padding-top: 20vw;
  padding-bottom: 10vw;
  padding-left: 3vw;
  padding-right: 3vw;
}
.headline_bajer h2 {
  font-size: 5rem;
  color: rgb(182, 133, 27);
  text-shadow: black 3px 3px 3px;
}

.headline_bajer p {
  font-style: italic;
  font-size: 1.5rem;
  color: white;
  font-family: "Open Sans", sans-serif;
}

.headline_bajer {
  gap: 5px;
}
.main_bajer {
  margin-left: 45%;
}

@media (min-width: 768px) {
  .main_bajer {
    margin-left: 25%;
  }
  .produktInfo {
    display: flex;
  }
  .headline_bajer h2 {
    font-size: 6rem;
  }

  .main_bajer #info {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 8vw;
  }
  .headline_bajer {
    padding-top: 10vw;
    padding-bottom: 5vw;
  }

  .headline_bajer p {
    padding-top: 0vw;
  }

  #info {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin-bottom: 2vw;
    gap: 2vw;
  }

  #info img {
    width: 60%;
    padding-top: 0vw;
    padding-bottom: 0vw;
    grid-column: 1/3;
    grid-row: 2/5;
    align-self: center;
  }

  #info h3 {
    grid-column: 3/5;
    grid-row: 1/2;
    font-size: 3rem;
    padding-bottom: 0vw;
    align-self: end;
  }
  .anbefaling {
    grid-column: 3/4;
    grid-row: 2/4;
  }
  #info .mereInfo {
    grid-column: 3/4;
    grid-row: 4/5;
  }

  #info {
    grid-column: 3/5;
    grid-row: 2/4;
    border-bottom: 0px;
    border-right: 1px solid white;
    padding-top: 0vw;
    padding-bottom: 0vw;
    align-self: center;
  }
  .event .dato {
    grid-column: 5/6;
    grid-row: 2/4;
    align-self: center;
  }
}

/* ------------------------------------OVERSIGT øl type nav bar----------------------------*/

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 30vh;
  z-index: 1;
  width: auto;
  overflow-x: hidden;
  background-color: #24221d;
  color: #fffdf3;
}

.sidebar li a {
  display: block;
  width: 60px;
  margin: 20px;
  padding: 0.2rem;
}

@media (min-width: 700px) {
  .sidebar li a {
    display: block;
    width: 80px;
    margin: 20px;
    padding: 0.4rem;
    font-family: "Work Sans", sans-serif;
    font-size: 1.3rem;
  }
}
